<!DOCTYPE HTML>
<html lang="en">
	<head>
    	<title>Getting Started: Handling Form Submission</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
	 	<h1>Draumadagbók</h1>
	 	<h3></h3>
	 	<p>Ég dreymdi kött sem var svartur og breyttist í hamborgara.</p>
	 	<p>Greinilegt er að þú verður að heimsækja ömmu þína þín hún á lítið eftir.</p>
	 	<p/>

	 	<h3>18.11.2016</h3>
	 	<p>Bacon ipsum dolor amet strip steak landjaeger leberkas, drumstick burgdoggen corned beef pork loin andouille beef shankle.</p>
	 	<p>Tongue chuck shank filet mignon alcatra bacon turducken beef shankle leberkas venison kielbasa pork chop pork.</p>
	 	<p/>

	 	<h3 th:text="${dreams[0].date}"/>
	 	<p th:text="${dreams[0].content}"/>
	 	<p th:text="${dreams[0].interpretation}"/>
	 	<p/>

	 	<h3 th:text="${dreams[1].date}"/>
	 	<p th:text="${dreams[1].content}"/>
	 	<p th:text="${dreams[1].interpretation}"/>
	 	<p/>

	 	<h3 th:text="${dreams[2].date}"/>
	 	<p th:text="${dreams[2].content}"/>
	 	<p th:text="${dreams[2].interpretation}"/>
	 	<p/>

	 	<h3 th:text="${dreams[3].date}"/>
	 	<p th:text="${dreams[3].content}"/>
	 	<p th:text="${dreams[3].interpretation}"/>
	 	<p/>

	 	<h3 th:text="${dreams[4].date}"/>
	 	<p th:text="${dreams[4].content}"/>
	 	<p th:text="${dreams[4].interpretation}"/>
	 	<p/>

	 	<h3 th:text="${dreams[5].date}"/>
	 	<p th:text="${dreams[5].content}"/>
	 	<p th:text="${dreams[5].interpretation}"/>
	 	<p/>

	 	<h3 th:text="${dreams[6].date}"/>
	 	<p th:text="${dreams[6].content}"/>
	 	<p th:text="${dreams[6].interpretation}"/>
	 	<p/>

	 	<h3 th:text="${dreams[7].date}"/>
	 	<p th:text="${dreams[7].content}"/>
	 	<p th:text="${dreams[7].interpretation}"/>
	 	<p/>

	 	<h3 th:text="${dreams[8].date}"/>
	 	<p th:text="${dreams[8].content}"/>
	 	<p th:text="${dreams[8].interpretation}"/>
	 	<p/>

	 	<h3 th:text="${dreams[9].date}"/>
	 	<p th:text="${dreams[9].content}"/>
	 	<p th:text="${dreams[9].interpretation}"/>
	 	<p/>
	</body>
</html>