
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 	<h1>Welcome </h1><p th:if="${user.name}" th:text="${user.name}"/>
	<h2>Dream Form</h2>
    <form action="#" th:action="@{/dream}" th:object="${dream}" method="post">
    	<p>Date: <input type="text" th:field="*{date}" /></p>
        <p>Dream: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>
    </form>
	
    <h1>Draumar þínir og ráðningar þeirra</h1>
    <table>
		<tr th:each="olddream:${dreams}" >
			<td><h3 th:text="'Dagsetning: ' + ${olddream.date}"/></td>
			<td><p th:text="'Draumur: ' + ${olddream.content}"/></td>
			<td><p th:text="'Túlkun: ' + ${olddream.interpretation}"/></td>
		</tr>
	</table>
				

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Útskrá"/>
	</form>
</body>
</html>
