<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel = "stylesheet" type = "text/css" href = "./css/styles.css" />
</head>
<body class="full_dream">
  <div class="container">
    <div class="page-header">
 	    <h1>Velkomin á síðu Draumadagbókarinnar</h1>
    </div>
    <div class = "jumbotron">
    	<h2>Túlka drauminn minn</h2>
        <div class="form-group">
        <form action="#" th:action="@{/dream}" th:object="${dream}" method="post">
        	<input type="text" th:field="*{date}" placeholder="Dagsetning (DD/MM/YY)"/>
        </div>
        <div class="form-group">
          <textarea type="text" th:field="*{content}" cols="60" rows="10" placeholder="Skrifaðu drauminn þinn hér"></textarea>
        </div>
        <p><input type="submit" value="Vista" class="btn-default btn-lg"/> <input type="reset" value="Hreinsa" class="btn-default btn-lg"/></p>
        </form>
      </div>
      <div class="jumbotron">
        <h2>Ráðning</h2>
        <p th:text="'date: ' + ${dream.date}"/>
        <p th:text="'answer: ' + ${dream.interpretation}"/>
      </div>
</body>
</html>
