<!DOCTYPE HTML>
<html lang="is">

<head>
    <title>Innskráning</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Innskráning</h2>
    <form name='f' th:action="@{/login}" th:object="${user}" method="post">
	<table>
		<tr th:if="${param.error}" >
			Ógilt notendanafn eða lykilorð.
		</tr>
		<tr th:if="${param.logout}">
			Þú hefur verið útskráð/ur.
		</tr>
		<tr>
			<td><label for="name">Notandanafn</label></td>
				<td><input type="text" th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
		</tr>
		<tr>
			<td><label for="password">Lykilorð</label></td>
			<td><input type="password" th:field="*{password}" /></td>
			<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
		</tr>
		<tr>
			<td><button type="submit" class="btn">Innskrá</button></td>

		</tr>
		<tr>
			<td><a href="/guestDream">Skrá inn sem gestur.</a></td>
			<td><a href="/newUser">Smellið hér til að nýskrá.</a></td>
		</tr>
	</table>




	</form>


	<h3>Tengjast Facebook</h3>
	<form action="/connect/facebook" method="POST">
		<input type="hidden" name="scope" value="user_posts" />
		<div class="formInfo">

		</div>
		<p><button type="submit">Tengjast Facebook</button></p>
	</form>




</body>
</html>
